In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%autosave 60

Autosaving every 60 seconds

# DSCI 235 Final Project

Data Source: https://github.com/shahinrostami/pokemon_dataset/blob/master/pokemon_gen_1_to_8.csv \
Github: https://github.com/damocardenas/DSCI235-Final

## Reading Data
I will start by getting the data from the source into the notebook so I can start seperating it, analyzing it and make my report

In [56]:
pokemon_dataset = pd.read_csv("https://raw.githubusercontent.com/shahinrostami/pokemon_dataset/master/pokemon_gen_1_to_8.csv")
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

## Cleaning Data
Now that the data is imported and part of the notebook, I can now start manipulating it. I will first start by cleaning it up. There is a lot of columns with information that will not be useful for what I aim to analyze.

I will start by getting rid of unnecessary columns such as german_name, and its effectiveness against the different typings.

In [82]:
pokemon = pokemon_dataset.loc[:, 'pokedex_number':'type_2'].drop(
    columns=['german_name', 'japanese_name', 'status', 'species'])
pokemon.head()

   pokedex_number           name  generation  type_number type_1  type_2
0               1      Bulbasaur           1            2  Grass  Poison
1               2        Ivysaur           1            2  Grass  Poison
2               3       Venusaur           1            2  Grass  Poison
3               3  Mega Venusaur           1            2  Grass  Poison
4               4     Charmander           1            1   Fire     NaN

Now that we cleaned up the data to only include information we need. We can now seperate the data into different dataframes for each generation and use the one we currently have as all pokemon from every generation. In told there is 8 generations of pokemon, so we will seperate the pokemon into 8 dataframes.

In [92]:
gen1 = pokemon.loc[pokemon['generation'] == 1]
gen2 = pokemon.loc[pokemon['generation'] == 2]
gen3 = pokemon.loc[pokemon['generation'] == 3]
gen4 = pokemon.loc[pokemon['generation'] == 4]
gen5 = pokemon.loc[pokemon['generation'] == 5]
gen6 = pokemon.loc[pokemon['generation'] == 6]
gen7 = pokemon.loc[pokemon['generation'] == 7]
gen8 = pokemon.loc[pokemon['generation'] == 8]